* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 500px;
}

.container {
    width: 100%;
    max-width: 1600px;    
    margin: 0 auto;
    padding: 10px 20px;
    height: 878px;
    display: grid;
    align-content: center;
}

.container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
 
 }
  
 .container p {
     font-size: 1.5rem;
     padding: 10px 20px;
     margin: 10px;
 }

.catalog__items{
    padding: 10px 20px ; 
    list-style: none;
    column-gap: 20px;
    row-gap: 40px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 380px 500px auto auto;
    grid-template-rows: repeat(2, 1fr);
}

.catalog__items {
    max-width: 100%;
}

.catalog__items-1{
    width: 376px;
    height: 335px;
    top: 227px;
    left: 64px;
}

.catalog__items-3 {
    width: 512px;
    height: 702px;
    top: 227px;
    left: 472px;
}

.catalog__items-4 {
    width: 648px;
    height: 335px;
    top: 227px;
    left: 1016px;
}

.catalog__items-2{
    width: 376px;
    height: 335px;
    top: 594px;
    left: 65px;
}

.catalog__items-5{
    width: 240px;
    height: 335px;
    top: 594px;
    left: 1016px;
}

.catalog__items-6{
    width: 376px;
    height: 335px;
    top: 594px;
    left: 1288px;
   
}

.catalog__items-1 {
    grid-area: 1 / 1 ;
}

.catalog__items-3 {
    grid-area: 1 / 2 / span 2 /span 2;
}


.catalog__items-4 {
    grid-area: 1 / 4; 
}

.catalog__items-2 {
    grid-area: 2 / 1 ;
}

.catalog__items-5 {
    grid-area: 2 / 4 ;
    justify-self:start;
}

.catalog__items-6 {
    grid-area: 2 / 4 ;
    justify-self: end;
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: (1, 425px);
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        gap: 18px;
    }

    .container h2 {
        flex-basis: 100%;
    }

    .container p {
        flex-basis: 70%;
        font-size: 1.5rem;
        padding: 0;
        margin-right: 25%;
       
    }

    .catalog__items img{
        max-width: 100%;
       
        grid-template-columns: repeat(1, 425px);   
    }
}



